.hero {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: auto;
}
.mainImg {
    width: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#productT {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 1rem;

}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    gap: 1vw;
    margin: auto;
    img {
        width: 100%;
        max-width: 8rem;  
    }
}

.breadcrumb {
        width: 100%;
        display: flex;
        align-items:flex-start;
        color: #ffffff;
        padding-block: 1rem;


        ol {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-inline: 24px;
        }

        i {
            font-size: var(--md);
            padding-inline: 24px;
        }

        a {
            color: var(--primary);
        }

        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }
